{{template "header" .}}

{{template "nav-main"}}

<h1>Hello, Amigo. Welcome to the ABOUT page</h1>
<p>This is a simple webapp written in Golang mostly to learn about how routers work in go</p>
<p>It stores hard coded data that can be accessed and delivered to the front end to be displayed and played with.</p>
<p>Created and developed by Brandon Echols</p>

{{template "footer"}}